<p id="notice"><%= notice %></p>

<h1>Listing Treinos</h1>
<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descricao</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @treinos.each do |treino| %>
      <tr>
        <td><%= treino.titulo %></td>
        <td><%= treino.descricao %></td>
        <td><%= treino.data %></td>
        <td><%= link_to 'Show', treino %></td>
        <td><%= link_to 'Edit', edit_treino_path(treino) %></td>
        <td><%= link_to 'Destroy', treino, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Treino', new_treino_path %>
