<p id="notice"><%= notice %></p>

<h1>Listing Treinos</h1>

<div id="calendar">
	<h2 id="month">
		<%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d") %>
		<%=h @date.strftime("%B %Y") %>
		<%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d") %>
	</h2>
	<%= calendar_for @treinos, :year => @date.year, :month => @date.month do |t| %>
	<%= t.head('DOM','SEG', 'TER', 'QUA', 'QUI', 'SEX', 'SAB') %>
	<%= t.day do |day, treinos| %>
	<%= day.day %>
	<% treinos.each do |treino| %><br>
	<h3><%= link_to h(treino.titulo), treino %></h3><br>
  <h4><%= h(treino.descricao) %></h4><br/>
	<%= link_to 'Editar', edit_treino_path(treino) %> | <%= link_to 'Deletar', treino, method: :delete, data: { confirm: 'Tem certeza?' } %>
	<% end %>
	<% end %>
	<% end %>
</div>
<%= link_to 'Novo Treino', new_treino_path %>
