<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @treino.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @treino.descricao %>
</p>

<p>
  <strong>Data:</strong>
  <%= @treino.date %>
</p>

<%= link_to 'Edit', edit_treino_path(@treino) %> |
<%= link_to 'Back', treinos_path %>
